footer
  .container.text-center
    p.pull-left © 2015 Prosession.info
    ul.pull-right.list-inline
      li
        a(href='https://github.com/raksonibs/prosession') GitHub Project
      li
        a(href='https://github.com/raksonibs/prosession/issues') Issues