extends layout

block content
  .row
    .col-sm-12
      .center-block
        if user
          h1 Evolve.
          .row
            .col-sm-6.col-md-6.col-lg-6.left-col
              #dos
                h3 Dos
                #tasks
            .col-sm-6.col-md-6.col-lg-6.right-col
              #donts
                h3 Don'ts
                #no-tasks
        else
          h1 Prosession
          .images
            .soup
            .euk
            .jelly
            .flower
            .insect
          p
            a.btn.btn-default.login(href='/login', role='button') Login
          p
            a.btn.btn-default.signup(href='/signup', role='button') Sign up