extends layout

block content
  #tasks
    
  .row
    .col-sm-12
      h1 Prosession
      .images Images
      p
        a.btn.btn-default(href='/login', role='button') Login
      p
        a.btn.btn-default(href='/signup', role='button') Sign up